NEXT_PUBLIC_API_URL=http://localhost:5007/api
NEXT_PUBLIC_GA4_ID=G-XXXXXXXXXX
NEXT_PUBLIC_SITE_URL=https://www.gurgaonrealty.in
NEXT_PUBLIC_WHATSAPP_NUMBER=919999999999
NEXT_PUBLIC_PHONE=+91-99999-99999
NEXT_PUBLIC_EMAIL=info@gurgaonrealty.in
